In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
pd.set_option('display.max_column',None)

# Exploratory Data Analysis (EDA)
## Data Cleaning

In [3]:
data = pd.read_csv('data/SBAnational.csv',low_memory=False)

In [4]:
data.sample(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
684864,7077684000,JEAN LUEDTKE,BEULAH,MI,49617,CENTRAL STATE BANK,MI,541211,31-Dec-03,2004,70,2,1.0,0,2,1,2,Y,N,NaN,29-Feb-04,"$10,000.00",$0.00,P I F,$0.00,"$10,000.00","$5,000.00"
651108,6533963005,"THE LEARNING FAIR, INC.",MANDAN,ND,58554,WELLS FARGO BANK NATL ASSOC,ND,453210,6-Apr-94,1994,55,5,1.0,0,0,1,0,N,N,25-Feb-99,30-Apr-94,"$46,000.00",$0.00,CHGOFF,"$34,997.00","$46,000.00","$41,400.00"
558816,5494093006,"ADHESA PLATE MFG. CO., INC.",SEATTLE,WA,98108,WELLS FARGO BANK NATL ASSOC,SD,0,29-Jan-93,1993,302,17,1.0,0,0,1,0,N,N,NaN,31-Jul-93,"$570,000.00",$0.00,P I F,$0.00,"$570,000.00","$456,000.00"
472212,4555873004,TROJAN GLOVE,FRESNO,CA,93727,WESTAMERICA BANK,CA,0,16-Aug-91,1991,96,45,1.0,0,0,1,0,N,N,NaN,31-Oct-91,"$305,000.00",$0.00,P I F,$0.00,"$305,000.00","$259,250.00"
596902,5912403007,CONRAD-JARVIS CORPORATION,PAWTUCKET,RI,2860,BANK OF AMERICA NATL ASSOC,NC,313221,3-Sep-93,1993,120,180,1.0,0,0,1,0,N,N,NaN,31-Jan-94,"$682,000.00",$0.00,P I F,$0.00,"$682,000.00","$579,700.00"

In [5]:
data.isna().sum()

LoanNr_ChkDgt             0
Name                     14
City                     30
State                    14
Zip                       0
Bank                   1559
BankState              1566
NAICS                     0
ApprovalDate              0
ApprovalFY                0
Term                      0
NoEmp                     0
NewExist                136
CreateJob                 0
RetainedJob               0
FranchiseCode             0
UrbanRural                0
RevLineCr              4528
LowDoc                 2582
ChgOffDate           736465
DisbursementDate       2368
DisbursementGross         0
BalanceGross              0
MIS_Status             1997
ChgOffPrinGr              0
GrAppv                    0
SBA_Appv                  0
dtype: int64

In [6]:
data.nunique()

LoanNr_ChkDgt        899164
Name                 779583
City                  32581
State                    51
Zip                   33611
Bank                   5802
BankState                56
NAICS                  1312
ApprovalDate           9859
ApprovalFY               52
Term                    412
NoEmp                   599
NewExist                  3
CreateJob               246
RetainedJob             358
FranchiseCode          2768
UrbanRural                3
RevLineCr                18
LowDoc                    8
ChgOffDate             6448
DisbursementDate       8472
DisbursementGross    118859
BalanceGross             15
MIS_Status                2
ChgOffPrinGr          83165
GrAppv                22128
SBA_Appv              38326
dtype: int64

In [7]:
data.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [ ]:
# Droping the unnecessary columns
data.drop(['LoanNr_ChkDgt','Name','City','Zip','Bank',])

In [12]:
data.LoanNr_ChkDgt

0         1000014003
1         1000024006
2         1000034009
3         1000044001
4         1000054004
             ...
899159    9995573004
899160    9995603000
899161    9995613003
899162    9995973006
899163    9996003010
Name: LoanNr_ChkDgt, Length: 899164, dtype: int64

In [15]:
np.std([True,False])

0.5

In [18]:
ls = np.array([2,3,5,8,9,6,7])
ls.argmax()

4

In [ ]:
data