In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
pd.set_option('display.max_column',None)

# Exploratory Data Analysis (EDA)
## Data Cleaning

In [6]:
data = pd.read_csv('data/SBAnational.csv',low_memory=False)

In [11]:
data.sample(5)

,LoanNr_ChkDgt,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,ChgOffDate,DisbursementDate,DisbursementGross,BalanceGross,MIS_Status,ChgOffPrinGr,GrAppv,SBA_Appv
634463,6306344003,FLEET IMPORTS LLC,PORTSMOUTH,VA,23701,"BUSINESS LOAN CENTER, LLC",SC,423320,9-May-03,2003,276,4,1.0,1,5,1,1,0,N,NaN,31-May-03,"$750,000.00",$0.00,P I F,$0.00,"$750,000.00","$562,500.00"
622518,6183224001,BRITISH PRIVATE PREP SCHOOL IN,KATY,TX,77450,BANK OF AMERICA NATL ASSOC,NC,611699,19-Mar-03,2003,84,20,1.0,17,37,1,1,Y,N,NaN,31-Mar-06,"$20,000.00",$0.00,P I F,$0.00,"$20,000.00","$10,000.00"
277816,2928845003,Artista Records Inc.,PASADENA,CA,91104,JPMORGAN CHASE BANK NATL ASSOC,NV,512210,29-Jan-08,2008,84,4,1.0,3,7,0,1,Y,N,NaN,31-Jan-08,"$99,250.00",$0.00,P I F,$0.00,"$50,000.00","$25,000.00"
636403,6327714006,GENEVA SUNTAN,GENEVA,IL,60134,COMERICA BANK,TX,812199,16-May-03,2003,95,2,2.0,5,2,1,1,0,N,29-Sep-10,30-Jun-03,"$205,000.00",$0.00,CHGOFF,"$194,483.00","$205,000.00","$153,750.00"
682676,7046953010,NATURE'S TOUCH,LIVERPOOL,NY,13090,MANUFACTURERS & TRADERS TR CO,NY,0,6-Jun-94,1994,84,5,2.0,0,0,1,0,N,N,NaN,31-Jul-94,"$150,000.00",$0.00,P I F,$0.00,"$150,000.00","$135,000.00"

In [14]:
data.nunique()

LoanNr_ChkDgt        899164
Name                 779583
City                  32581
State                    51
Zip                   33611
Bank                   5802
BankState                56
NAICS                  1312
ApprovalDate           9859
ApprovalFY               52
Term                    412
NoEmp                   599
NewExist                  3
CreateJob               246
RetainedJob             358
FranchiseCode          2768
UrbanRural                3
RevLineCr                18
LowDoc                    8
ChgOffDate             6448
DisbursementDate       8472
DisbursementGross    118859
BalanceGross             15
MIS_Status                2
ChgOffPrinGr          83165
GrAppv                22128
SBA_Appv              38326
dtype: int64

In [13]:
data.columns

Index(['LoanNr_ChkDgt', 'Name', 'City', 'State', 'Zip', 'Bank', 'BankState',
       'NAICS', 'ApprovalDate', 'ApprovalFY', 'Term', 'NoEmp', 'NewExist',
       'CreateJob', 'RetainedJob', 'FranchiseCode', 'UrbanRural', 'RevLineCr',
       'LowDoc', 'ChgOffDate', 'DisbursementDate', 'DisbursementGross',
       'BalanceGross', 'MIS_Status', 'ChgOffPrinGr', 'GrAppv', 'SBA_Appv'],
      dtype='object')

In [ ]:
# Droping the unnecessary columns
data.drop(['LoanNr_ChkDgt','Name','City','Zip','Bank',])

In [12]:
data.LoanNr_ChkDgt

0         1000014003
1         1000024006
2         1000034009
3         1000044001
4         1000054004
             ...
899159    9995573004
899160    9995603000
899161    9995613003
899162    9995973006
899163    9996003010
Name: LoanNr_ChkDgt, Length: 899164, dtype: int64

In [15]:
np.std([True,False])

0.5

In [18]:
ls = np.array([2,3,5,8,9,6,7])
ls.argmax()

4

In [ ]:
data